@import '../../../css/base/normalize';
@import '../../../css/base/font';
@import '../../../css/base/breakpoint';
html,body {
  width:100%;
  // height: 100%;
}

.wrapIn {
  width:100%;

  .cover {
    width:100%;
    padding: 25vh 0;
    box-sizing:border-box;
    text-align: center;
    p {
      width:100%;
      margin:0 auto;
      text-transform: uppercase;
      font-size:5vw;
      letter-spacing:0.5em;
      color:#555;
      margin-bottom: 2vw;
      @media #{$media-smedium}{
        margin-bottom: 10vw;
      }
    }

    a {
      margin:0 10px;
      padding:10px 20px;
      border:solid 1px #555;
    }
  }
  
  .gallery {
    display:flex;
    flex-wrap:wrap;
    width:90%;
    margin:0 auto;
    .galleryLeft,.galleryRight {
      width:50%;
      box-sizing:border-box;
    }
    .galleryLeft {
      padding-right: 3vw;
    }

    .galleryRight {
      padding-left: 3vw;
    }

     @media #{$media-smedium}{
      display: block;
      .galleryLeft,.galleryRight {
        width:100%;
        box-sizing:border-box;
      }
      .galleryLeft {
        padding-right: 0vw;
      }

      .galleryRight {
        padding-left: 0vw;
      }
    }

  }


}
.img-wrap {
  width:100%;
  box-sizing:border-box;
  margin:5vw 0;
  .img-wrapIn {
    overflow:hidden;
    display: block;
    transform:translate3d(0,0,0);
    img{
      width:100%; height:auto;
      display: inline-block;
    }
  }
}


.code-block {
  width:100%;
  background-color: #555;
  padding:1vw;
  box-sizing:border-box;
  code {
    color:#ddd;
    margin:0 auto;
    display: table;
    line-height:1.8em;
    padding:0 5vw;
    box-sizing:border-box;
  }
}

