@import '../../../css/base/normalize';
html,body {
  width:100%;
  height: 100%;
}

.wrapIn {
  width:100%;
  display:flex;
  flex-wrap:wrap;

  .wrapLeft,.wrapRight {
    width:50%;
  }

}

.img-wrap {
  width:50vw;
  padding:5vw;
  box-sizing:border-box;
  img{
    width:100%; height:auto;
    display: inline-block;
  }
}

