@import '../../../css/base/normalize';
@import '../../../css/base/breakpoint';
@import '../../../css/_example-cover';

html,body {
  width:100%;
  height: 100%;
}

.wrap {
  position: relative;
  width:100%;
  height:100%;
  text-align: center;

  .wrap-inner {
    width: 100%;
  }
}

.img-wrap {
  position: relative;
  margin:0 auto;
  display: block;
  box-sizing:border-box;
  overflow:hidden;
  perspective: 1000px;

  h3 {
    position:absolute;
    color:#fff;
    text-transform: uppercase;
    font-weight:normal;
    letter-spacing: 0.5em;
    font-size:40px;
    top:50%;
    text-align: center;
    width:100%;
  }
  img{
    position:relative;
    // height:100%; width:auto;
    width:100%; height:auto;
    // max-width: 100%;
    display: inline-block;
  }
}


// video controll example
.SceneVideoControl {
  .videoWrap {
    position: relative;
    width:50%;
    margin:0 auto;
    padding-bottom: 10vw;
    overflow:hidden;

    @media #{$media-smedium} {
      width:100%;
    }

    video {
      width:100%;
    }

    p {
      font-size:15px;
      text-transform: uppercase;
      margin-bottom: 4vw;
      color:#f00;
    }

    .videoBar {
      width:100%; height:5px;
      background-color: #333;
    }

    .btns {
      display: flex;
      .btn {
        width:100%;
        height:50px;
        line-height:50px;
        box-sizing:border-box;
        border:solid 1px #ddd;
        margin:10px;
        cursor:pointer;

        @media #{$media-smedium} {
          margin:3px;
          font-size:11px;
        }
      }
    }
  }
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}