@import '../../../css/base/normalize';
html,body {
  width:100%;
  height: 100%;
  background-color: #f7f7f7;
  font-family:"Yu Gothic" ,"YuGothic" ,"Hiragino Kaku Gothic Pro" ,"Meiryo UI" , "Meiryo" , sans-serif;
}

main {
  width:100%; 
  overflow:hidden;

  p {
    color:#333;
  }
}

.dragAndDrop {
  // overflow: hidden;
  .dragAndDrop_in {
    display: inline-flex;

    .dragAndDrop_item {
      width:300px;
      box-sizing:border-box;
      cursor:ew-resize;

      img {
        width:100%;
      }

      p {
        margin-top: 10px;
      }
    }
  }
}

.arrs {
  display: inline-flex;
  margin:30px 10px;
  margin-top: 0;
  font-size:10px;
  line-height:20px;
}
.arrL,.arrR {
  position:relative;
  width:20px; height:20px;
  cursor:pointer;
  text-align: center;
  color:#fff;
  background-color: #555;
}
.arrL {
  margin-right:10px;
}

.arrowInActive {
  opacity: 0.5;
  pointer-events:none;
}

.dragAndDropLeft {
  margin-left:20%;
  width:80%;
  padding:5vw 0;
  background-color: #999;

  .dragAndDrop_item {
    padding-right:20px;
  }
}

.dragAndDropRight {
  margin-right:20%;
  width:80%;
  padding:5vw 0;
  background-color: #999;

  .dragAndDrop_in {
    flex-direction: row-reverse;
  } 

  .arrs {
    float:right;
  }
  
  .dragAndDrop_item {
    padding-left:20px;
  }
  // .dragAndDrop_item:first-child {
  //   padding:0;
  // }
}