@import 'base/normalize';
@import 'base/convert-function';
@import 'base/font';
@import 'base/breakpoint';
@import 'base/transition';
@import 'base/animation';

html,body {
  width:100%;

  /* To smooth any scrolling behavior */
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
}

.links {
  text-align: center;
  display: block;
  width:100%;
  // text-transform: uppercase;
  margin-top:10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

